<!-- Top Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #E4E9F7 !important; 
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.15); height: 60px;">
            <div class="container-fluid">
                <form class="d-flex" role="search" style="margin-left: 20px;">
                    <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                </form>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link nav-icon" href="#"><i class='bx bx-bell'></i></a>
                        <a class="nav-link nav-icon" href="#"><i class='bx bx-envelope bx-2x'></i></a>
                        <a class="nav-link nav-icon" aria-current="page" href="#"><i
                                class='bx bx-user-circle bx-2x'></i></a>
                        <a class="nav-link nav-icon" href="#"><i class='bx bx-cog bx-2x'></i></a>
                    </div>
                </div>
            </div>
        </nav>
<!-- Top Navbar End -->