<!-- Sidebar -->
<nav class="sidebar close">
    <header>
        <div class="image-text">
            <span class="image">
                <img src="static/images/Logo3.png" alt="logo">
            </span>

            <div class="text logo-text">
                <span class="name">AsseTrack</span>
                <span class="profession">Inventory System</span>
            </div>
        </div>

        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">

            <li class="search-box">
                <i class='bx bx-search icon'></i>
                <input type="text" placeholder="Search...">
            </li>

            <ul class="menu-links">
                <li class="nav-link">
                    <a href="{% url 'dashboard-index' %}">
                        <i class='bx bx-grid-alt icon'></i>
                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-user-circle icon'></i>
                        <span class="text nav-text">Profile</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="{% url 'dashboard-brand' %}">
                        <i class='bx bx-buildings icon'></i>
                        <span class="text nav-text">Brands</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="{% url 'dashboard-product' %}">
                        <i class='bx bx-package icon'></i>
                        <span class="text nav-text">Products</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="{% url 'dashboard-staff' %}">
                        <i class='bx bx-user-plus icon'></i>
                        <span class="text nav-text">Staff</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="{% url 'dashboard-order' %}">
                        <i class='bx bx-cart-alt icon'></i>
                        <span class="text nav-text">Orders</span>
                    </a>
                </li>

            </ul>
        </div>

        <div class="bottom-content">
            <li class="">
                <a href="/">
                    <i class='bx bx-log-out icon'></i>
                    <span class="text nav-text">Logout</span>
                </a>
            </li>

            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>

        </div>
    </div>

</nav>
<!-- Sidebar End -->