{% extends "partials/base.html" %}
{% load static %}

{% block title %}Brand Page{% endblock title %}

{% block body %}

<!-- <div class="container">
    <div class="brand-card-box">
        <div class="brand-card-container">
            <div class="brand-card">
                <a href="#">
                    <div class="brand-card-content">
                        <h2>Count of all Brands</h2>
                        <h1>3 Brands</h1>
                        <div class="brand-card-icon" style="background-color: #419D78;">
                            <i class="fas fa-solid fa-copyright"></i>
                        </div>
                    </div>
                </a>
            </div>

            <div class="brand-card">
                <a href="#">
                    <div class="brand-card-content">
                        <h2>Count of Active-Brands</h2>
                        <h1>2 Brands</h1>
                        <div class="brand-card-icon" style="background-color: #6457A6;">
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="brand-content-wrapper">
        <div class="brand-form-container">
            <form method="POST" >
                {% csrf_token %}
                <h2>Add Brand</h2>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required><br>
            
                <label for="category">Category:</label>
                <select id="category" name="category" required>
                    <option value="" disabled selected>Select a category</option>
                    <option value="Category 1">Available</option>
                    <option value="Category 2">Not-Available</option>
                </select><br> 
            
                <button type="submit">Add Brand</button>
            </form>
        </div>

        <div class="brand-table-container">
            <table class="brand-table">
                <thead>
                    <tr>
                        <th>Brand</th>
                        <th>Brand-Status</th>
                        <th>Activity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tesla</td>
                        <td>Available</td>
                        <td>
                            <a href="#" class="Edit">Edit</a>
                            <a href="#" class="Delete">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Microsoft</td>
                        <td>Not-Available</td>
                        <td>
                            <a href="#" class="Edit">Edit</a>
                            <a href="#" class="Delete">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Easy-Day</td>
                        <td>Available</td>
                        <td>
                            <a href="#" class="Edit">Edit</a>
                            <a href="#" class="Delete">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->

<section class="home">
    {% include "partials/navbar.html" %}

    <div class="text">Brand Details</div>

    <div class="brand-container">
        <div class="brand-card-box">
            <div class="brand-card-container">

                <div class="brand-card">
                    <a href="#">
                        <div class="brand-card-content">
                            <h3>Count of all Brands</h3>
                            <h2>{{ brand_count }} Brands</h2>
                            <div class="brand-card-icon" style="background-color: #8D54FF;">
                                <i class='bx bx-buildings'></i>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="brand-card">
                    <a href="#">
                        <div class="brand-card-content">
                            <h3>Count of Active-Brands</h3>
                            <h2>3 Brands</h2>
                            <div class="brand-card-icon" style="background-color: #0C6291;">
                                <i class='bx bx-briefcase'></i>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="container" style="margin: 0;">
        <div class="brand-content">
            <div class="brand-form">
                <div class="border border-dark-subtle bg-white p-3">
                    <h5>Add Brand</h5>
                    <hr>
                    <form method="POST"> 
                        {% csrf_token %} 
                        <div class="mb-3">
                            <label for="id_name" class="form-label">Brand Name</label>
                            <input type="text" class="form-control" id="id_name" name="brand_name" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-4">
                            <label for="id_status" class="form-label">Brand Status</label>
                            <select class="form-select" id="id_status" name="status" aria-label="Default select example">
                                <option selected>Choose...</option>
                                <option value="Available">Available</option>
                                <option value="Not-Available">Not-Available</option>
                            </select>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit">Add Brand</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="brand-table" style="background-color: white;">
                <table id="example" class="table table-striped nowrap" style="width:100%">
                    <thead style="background: #0d6efd;">
                        <tr>
                            <th>Brand Name</th>
                            <th>Brand Status</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for brand in brands %}
                            <tr>
                                <td>{{ brand.brand_name }}</td>
                                <td>{{ brand.status }}</td>
                                <td><a class="btn btn-primary btn-sm" href="{% url 'dashboard-brand-update' brand.id %}">Edit</a></td>
                                <td><a class="btn btn-danger btn-sm" href="{% url 'dashboard-brand-delete' brand.id %}">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                responsive: true
            });
        });
    </script>

    <footer>
        <div class="footer-left">
            Copyright © Your Website 2023
        </div>
        <div class="footer-right">
            <a href="#">Privacy Policy</a> · <a href="#">Terms & Conditions</a>
        </div>
    </footer>

</section>

{% endblock body %}